* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  }
  /* ....................................................... header section................................................... */
  .header{
    background-image: url(/assets/backgroundpizza.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #nav h1{
    font-family: 'Tangerine', serif;
    color: rgb(244,155,56);
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 25vw;

  }
  #nav a{
    text-decoration: none;
    color: white;
    padding-top: 1.4vw;
    padding-left: 1.5vw;
    font-size: 1.3vw;
  }
  #nav{
    display: flex;
    background-color: rgb(0,0,0,0.6);
    padding-bottom: 1vw;
  }
  .title{
    color: white;
    padding-top: 25vw;
    padding-left: 5vw;
  }
  .title h2{
    font-family: 'Tangerine', serif;
    font-size: 5vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
  }
  .title p{
    font-size: 2vw;
    padding-bottom: 3vw;
    font-weight: bold;
  }
  .title button{
    width: 10%;
    height: 3vw;
    font-size: 1vw;
    background-color:rgb(244,155,56) ;
    border-radius: 0.5vw;
    border: none;
    color: white;
    margin-bottom: 10vw;
    padding-bottom: 0.3vw;
    font-weight: bold;
    margin-left: 10vw;
  }
  /* ...............................................about-us................................................................ */

#aboutus .story .description {
  width: 55%;
  padding-left: 10%;
}
#aboutus .story .img img {
  width: 100%;
  transition: 0.3s;
  position: relative;
  transform: rotate(-10deg);
  border: 0.1vw solid #494949;
}
#aboutus .story .img {
  position: relative;
  width: 45%;
  border: 0.1vw solid #494949;
  transform: rotate(10deg);
  backdrop-filter: blur(0.1vw);
}
#aboutus{
  padding: 0 10%;
}

#aboutus .story {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10% 0;
}

#aboutus .story .description span {
  display: flex;
  align-items: center;
  color: #252B42;
  font-size: 2vw;
  margin-bottom: 2%;
  font-weight: bold;
  font-family: 'Tangerine', serif;
}

#aboutus .story .description span div {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #252B42;
  margin-right: 2%;
}
#aboutus .story .description p {
  color: #252B42;
  font-size: 1.1vw;
  line-height: 1.8vw;
}
/* .............................................our menu.................................................................... */
.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.card{
  text-align:center;
  width: 25%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  margin: 2% ;
  padding: 5% 2%;
  border-radius: 2vw;
}
.card img{
  width: 20vw;
  height: auto;
  margin-top: 2px;
 
} 

